body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #e8f5e9;
    color: #2e4633;
}

header {
    background: #2e7d32;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

header h1 {
    font-size: 3rem;
    font-family:Arial, Helvetica, sans-serif,"Book Antiqua";
    margin: 0;
}

header h1 a {
    color:rgb(0, 56, 7);
}

nav {
    background: #1b5e20;
    padding: 12px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.1rem;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.section {
    max-width: 1000px;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
}

.section h2 {
    color: #1b5e20;
    font-size: 1.8rem;
}

.section p {
    font-size:20px;
}

.materials {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}



.steps {
    text-decoration: underline;
    font-weight: bold;
    background: #f1f8e9;
    border-radius: 12px;
    padding: 20px;
    width: calc(29% - 15px);
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}
.steps h3 {
    color:#256529;
    text-align: center;
    font-style: bold;
    font-size: 20px;
}
.steps img  {
    width: 270px;
    height: 180px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}



.questions {
    background: #f1f8e9;
    border-radius: 12px;
    padding: 20px;
    width: calc(31% - 30px);
    box-shadow: 0 0 8px rgba(0,0,0,0.1);    
}
.questions h3 {
    margin: 0 0 10px;
    color: #2e7d32;
    font-style: bold;
    text-align: center;
}
.questions p {
    margin: 0;
    font-size: 15px;
}




/* Responsivo */
@media (max-width: 800px) {
    .questions {
        width: calc(50% - 20px);
        }
}

@media (max-width: 500px) {
    .questions {
        width: 100%;
    }
}

.video-container {
    text-align: center;
    margin-top: 20px;
}

video {
    width: 100%;
    max-width: 700px;
    border-radius: 10px;
}

footer {
    background: #1b5e20;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}